
 
h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
}
 
.tulisan_login{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}
 
.kotak_login{

	width: 400px;
	background: #ebebeb;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 10px 10px;
}
 
label{
	font-size: 11pt;
}
 
.form_login{
	/*membuat lebar form penuh*/
	background-image:"/vs/17862284_1838116726513004_450209408794095223_n.jpg";
	background-repeat: no-repeat;
	padding-left: 18px;
	background-size: 20%;
	background-position-y:20%;; 
	box-sizing : border-box;
	width: 50%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
 
.tombol_login{
	background: #03c3cf;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}
 
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}